#heading-row {
    text-align: center;
    background-color: #52D9CB;
    color: white;
    /* I found this text outline hack on WP Shout */
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.historyEntry {
    background-color: #4FC7F0; 
    color: black;
    text-align: center;
}

.historyEntry:hover {
    cursor: pointer;
}